page-tutorial {
  .content-md {
    color: #fff;
    background-color: #FFF !important;
  }
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
    color: #F573A1;
  }

  .slide-image {
    max-height: 40%;
    max-width: 60%;
    margin: 36px 0;
  }

  b {
    font-weight: 500;
  }

  h3 {
    padding: 0 40px;
    line-height: 1.5;
    color: #666;

    b {
      color: #f5f5f5;
    }
  }

}
