<ion-content scroll="false">
  <!-- <div class="splash-bg"></div> -->
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <div padding>
    <button ion-button block color="white" (click)="signup()">{{ 'SIGNUP' | translate }}</button>
    <h2 iont-text text-center>ó</h2>
    <button ion-button block color="danger"  (click)="login()">{{ 'LOGIN' | translate }}</button>
    <button ion-button block color="blue"  (click)="login()">{{ 'LOGIN_WHIT_FACEBOOK' | translate }}</button>
  </div>
</ion-content>
