page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.jpg') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    box-shadow: inset 0 -13px 18px rgba(0,0,0,0.3);
    background-repeat: repeat-x;
    border-bottom: 10px solid rgba(0,0,0,0.1);
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: 64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url(../assets/img/appicon.png) repeat transparent;
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: -39px;
  }
  .splash-intro {
    font-size: 24px;
    padding: 22px 0;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }
}
